In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('departments.csv')

In [3]:
df

     1        Product Management
0    2                     Sales
1    3  Research and Development
2    4      Business Development
3    5               Engineering
4    6           Human Resources
5    7                  Services
6    8                   Support
7    9                 Marketing
8   10                  Training
9   11                     Legal
10  12                Accounting